<h1><%= t('.header', title: @test_passage.test.title) %> </h1>

<h3 style="color: <%= color_of_result_message(@test_passage) %>">
  <%= t('.result_message', result: test_result(@test_passage), percent: format("%3.f", @test_passage.percent_of_correct_answers)) %>
</h3>
  
<%= link_to t('link_back'), tests_path %>