<div class="card-footer text-muted">
  <div class="text-center">
    <%= current_year %>
  </div>

  <p>
    Author: <%= github_link('denio-rus', 'TestGuru') %>
  </p>
  <p>
    Проект реализуется в рамках обучения по программе "Основы Rails", организованного компанией Thinknetica<br>
    В ходе обучения запланировано изучение следующих тем: архитектура REST, концепция MVC, работа с ресурсами, 
    аутентификация, базовое разграничение прав доступа и многое другое.
  </p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</div>
