<tr> 
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td style="text-align:center"><%= test.questions.count %></td>
  <td><%= button_to t('tests_table.button_start'), start_test_path(test) %></td>
</tr>